@page "/"
@using SampleTestUI.Models
@inject HttpClient http

<PageTitle>Courses</PageTitle>

<h1>All Courses</h1>

@if(Courses is not null)
{
    foreach (var c in Courses)
    {
        <a href="@c.CourseUrl">
            <img width="300" src="@c.CourseImage" />
        </a>
    }
}
@code {
    private List<CourseModel>? Courses;

    protected override async Task OnInitializedAsync()
    {
        Courses = await http.GetFromJsonAsync<List<CourseModel>>("https://localhost:7048/courses");
    }
}
